<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-agora"
        version="1.0.0">
    <name>Agora</name>
    <description>Agora Voice Plugin</description>
    <keywords>cordova,agora</keywords>
    <license>MIT License</license>

    <preference name="APP_ID"/>

    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <js-module src="www/agora.js" name="agora">
        <clobbers target="Agora" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Agora">
                <param name="ios-package" value="AgoraPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/AgoraPlugin.h" />
        <source-file src="src/ios/AgoraPlugin.m" />
        <header-file src="src/ios/ChatRoomViewController.h" />
        <source-file src="src/ios/ChatRoomViewController.m" />
        <resource-file src="src/ios/PluginView.storyboard" target-dir="" />
        <resource-file src="src/ios/AgoraConfig.plist" />

        <!-- libs -->
        <framework src="src/ios/lib/AgoraRtcEngineKit.framework" custom="true" />
        <framework src="Accelerate.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libc++.tbd" />
        <framework src="libresolv.tbd" />
        <framework src="CoreMedia.framework" />
        <framework src="VideoToolbox.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="AVFoundation.framework" />

        <config-file target="*AgoraConfig.plist" parent="AppId">
            <string>$APP_ID</string>
        </config-file>
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Agora">
                <param name="android-package" value="com.chuwa.cordova.agora.Agora" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/Agora.java" target-dir="src/com/chuwa/cordova/agora" />
        <framework src="com.android.support:appcompat-v7:27.0.1" />

    </platform>

</plugin>
